<body class="fondo">
<h1 class="title">Tus viajes futboleros</h1>
<%= link_to 'Regístrate', new_user_registration_path, class:"link" %><br />
<%= link_to 'Entrada de usuarios registrados', new_user_session_path, class:"link" %>
</body>
<footer>
	
</footer>